
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --yellow: #ffc600;
    --green: #bada55;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica,
}

body{
background: #ddd;
line-height: 1.4;

}

img {

    width: 100%;
}



