
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --yellow: #ffc600;
    --green: #bada55;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica,
}

body{
background: #ddd;
line-height: 1.4;

}

img {

    max-width: 200px;
    margin: 20px 0 0 0;
    padding: 10px;

    @media (min-width: 500px){

        max-width: 350px;

    }

}

img:hover {
transform: scale(1.3);

}

